# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual Environments
.venv/
venv/
ENV/
env/
ENV/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables and secrets
.env
.env.secret
.env.shared
*.env
*.secret
credentials.json

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store
